# dependencies
/node_modules
/.pnp
.pnp.js

# builds
/.output
/build
/dist

# tanstack start generated
src/routeTree.gen.ts

# cloudflare
.wrangler
.dev.vars

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# database
/prisma/dev.db
/prisma/dev.db-journal

# typescript
*.tsbuildinfo
